[submodule "Distance-Light"]
	path = Distance-Light
	url = https://github.com/Destro1914/Distance-Light.git
[submodule "DistanceLight2"]
	path = DistanceLight2
	url = https://github.com/Destro1914/Distance-Light.git
[submodule "DistanceLight"]
	path = DistanceLight
	url = https://github.com/Destro1914/Distance-Light.git
